body {
    background-image: linear-gradient(to right ,rgb(247, 105, 247),rgb(155, 155, 233));
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    background-image: linear-gradient(to left,rgb(194, 248, 255), rgb(209, 251, 102));
    border-radius: 10px;
    box-shadow: 15px 15px 30px  rgba(195, 4, 225, 0.884);
    padding: 15px;
    width: 350px;
    text-align: center;
}

.card .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 26%;
}

.card .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card h2 {
    color: #710ddbee;
    margin-bottom: 10px;
    font-weight: bolder;
    font-weight: 900;
}

.card p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    font-family: cursive;
    color: #f800f0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.card a:hover {
    background-color: #8fadce;
}

.card .social-links {
    margin-top: 30px;
}

.card .social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #1a0d62;
    font-size: 22px;
    
}

.card .social-links a:hover {
    color: #ff00cc;
}



.card .dev-icon:hover {
    background-color: #7eb0e7;
}

.card .dev-icon i {
    font-size: 16px;
}